# Binaries
*.exe
*.out
*.o
*.obj
*.so
*.dll
*.dylib

# CMake build folders
build/
cmake-build-*/

# CLion project files
.idea/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
*.log